In [31]:
import json
import pandas as pd
import csv
from pathlib import Path
import sqlalchemy as sql
from sqlalchemy import create_engine

In [29]:
BTC_price_data_df = pd.read_csv(Path("BTC_Data.csv"))

In [30]:
BTC_price_data_df.head()

              Timestamp     Value
0  10/02/2021, 11:00:00  47896.63
1  10/02/2021, 12:00:00  48260.50
2  10/02/2021, 13:00:00  48021.93
3  10/02/2021, 14:00:00  48156.23
4  10/02/2021, 15:00:00  48087.25

In [35]:
BTC_price_data_df["Timestamp"] = pd.to_datetime(BTC_price_data_df["Timestamp"])

In [36]:
BTC_price_data_df.head()

            Timestamp     Value
0 2021-10-02 11:00:00  47896.63
1 2021-10-02 12:00:00  48260.50
2 2021-10-02 13:00:00  48021.93
3 2021-10-02 14:00:00  48156.23
4 2021-10-02 15:00:00  48087.25

In [37]:
engine = create_engine("sqlite:///BTC_price_data_df.db", echo=True)
sqlite_connection = engine.connect()

In [38]:
sqlite_table = "BTC_price_data_df2"
BTC_price_data_df.to_sql(sqlite_table, sqlite_connection, if_exists="fail")

2021-10-09 14:48:49,168 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BTC_price_data_df2")
2021-10-09 14:48:49,182 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 14:48:49,188 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("BTC_price_data_df2")
2021-10-09 14:48:49,191 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 14:48:49,204 INFO sqlalchemy.engine.Engine
CREATE TABLE "BTC_price_data_df2" (
	"index" BIGINT,
	"Timestamp" DATETIME,
	"Value" FLOAT
)


2021-10-09 14:48:49,206 INFO sqlalchemy.engine.Engine [no key 0.00194s] ()
2021-10-09 14:48:49,217 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 14:48:49,219 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_BTC_price_data_df2_index" ON "BTC_price_data_df2" ("index")
2021-10-09 14:48:49,220 INFO sqlalchemy.engine.Engine [no key 0.00096s] ()
2021-10-09 14:48:49,227 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 14:48:49,256 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-09 14:48:49,267 INFO sqlalchemy.engine.Engine INSERT INTO "BTC_price_data_df2" ("index", "Timestamp", "Value") VALUES (?, ?, ?)
2021-10-09 14:48:49,267 INFO sqlalchemy.engine.Engine [generated in 0.00418s] ((0, '2021-10-02 11:00:00.000000', 47896.63), (1, '2021-10-02 12:00:00.000000', 48260.5), (2, '2021-10-02 13:00:00.000000', 48021.93), (3, '2021-10-02 14:00:00.000000', 48156.23), (4, '2021-10-02 15:00:00.000000', 48087.25), (5, '2021-10-02 16:00:00.000000', 47669.02), (6, '2021-10-02 17:00:00.000000', 47309.44), (7, '2021-10-02 18:00:00.000000', 47557.04)  ... displaying 10 of 169 total bound parameter sets ...  (167, '2021-10-09 10:00:00.000000', 54914.06), (168, '2021-10-09 11:00:00.000000', 54784.56))
2021-10-09 14:48:49,274 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 14:48:49,280 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-10-09 14:48:49,281 INFO sqlalchemy.engine.Engine [raw sql] ()