In [61]:
from pathlib import Path
import json
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine
from time import gmtime, strftime
import time

In [63]:
with open(Path("ETH_tweet_count.json")) as f:
    data = json.load(f)

In [64]:
data

{'data': [{'end': '2021-10-03T00:00:00.000Z',
   'start': '2021-10-02T23:00:58.000Z',
   'tweet_count': 13281},
  {'end': '2021-10-03T01:00:00.000Z',
   'start': '2021-10-03T00:00:00.000Z',
   'tweet_count': 15158},
  {'end': '2021-10-03T02:00:00.000Z',
   'start': '2021-10-03T01:00:00.000Z',
   'tweet_count': 15768},
  {'end': '2021-10-03T03:00:00.000Z',
   'start': '2021-10-03T02:00:00.000Z',
   'tweet_count': 16823},
  {'end': '2021-10-03T04:00:00.000Z',
   'start': '2021-10-03T03:00:00.000Z',
   'tweet_count': 15342},
  {'end': '2021-10-03T05:00:00.000Z',
   'start': '2021-10-03T04:00:00.000Z',
   'tweet_count': 16870},
  {'end': '2021-10-03T06:00:00.000Z',
   'start': '2021-10-03T05:00:00.000Z',
   'tweet_count': 16156},
  {'end': '2021-10-03T07:00:00.000Z',
   'start': '2021-10-03T06:00:00.000Z',
   'tweet_count': 15647},
  {'end': '2021-10-03T08:00:00.000Z',
   'start': '2021-10-03T07:00:00.000Z',
   'tweet_count': 16687},
  {'end': '2021-10-03T09:00:00.000Z',
   'start': '2021-10-03T08:00:00.000Z',
   'tweet_count': 16271},
  {'end': '2021-10-03T10:00:00.000Z',
   'start': '2021-10-03T09:00:00.000Z',
   'tweet_count': 16338},
  {'end': '2021-10-03T11:00:00.000Z',
   'start': '2021-10-03T10:00:00.000Z',
   'tweet_count': 17293},
  {'end': '2021-10-03T12:00:00.000Z',
   'start': '2021-10-03T11:00:00.000Z',
   'tweet_count': 17484},
  {'end': '2021-10-03T13:00:00.000Z',
   'start': '2021-10-03T12:00:00.000Z',
   'tweet_count': 17846},
  {'end': '2021-10-03T14:00:00.000Z',
   'start': '2021-10-03T13:00:00.000Z',
   'tweet_count': 19611},
  {'end': '2021-10-03T15:00:00.000Z',
   'start': '2021-10-03T14:00:00.000Z',
   'tweet_count': 20037},
  {'end': '2021-10-03T16:00:00.000Z',
   'start': '2021-10-03T15:00:00.000Z',
   'tweet_count': 22288},
  {'end': '2021-10-03T17:00:00.000Z',
   'start': '2021-10-03T16:00:00.000Z',
   'tweet_count': 19419},
  {'end': '2021-10-03T18:00:00.000Z',
   'start': '2021-10-03T17:00:00.000Z',
   'tweet_count': 17220},
  {'end': '2021-10-03T19:00:00.000Z',
   'start': '2021-10-03T18:00:00.000Z',
   'tweet_count': 17950},
  {'end': '2021-10-03T20:00:00.000Z',
   'start': '2021-10-03T19:00:00.000Z',
   'tweet_count': 17398},
  {'end': '2021-10-03T21:00:00.000Z',
   'start': '2021-10-03T20:00:00.000Z',
   'tweet_count': 14158},
  {'end': '2021-10-03T22:00:00.000Z',
   'start': '2021-10-03T21:00:00.000Z',
   'tweet_count': 12947},
  {'end': '2021-10-03T23:00:00.000Z',
   'start': '2021-10-03T22:00:00.000Z',
   'tweet_count': 14221},
  {'end': '2021-10-04T00:00:00.000Z',
   'start': '2021-10-03T23:00:00.000Z',
   'tweet_count': 14229},
  {'end': '2021-10-04T01:00:00.000Z',
   'start': '2021-10-04T00:00:00.000Z',
   'tweet_count': 13523},
  {'end': '2021-10-04T02:00:00.000Z',
   'start': '2021-10-04T01:00:00.000Z',
   'tweet_count': 13949},
  {'end': '2021-10-04T03:00:00.000Z',
   'start': '2021-10-04T02:00:00.000Z',
   'tweet_count': 16329},
  {'end': '2021-10-04T04:00:00.000Z',
   'start': '2021-10-04T03:00:00.000Z',
   'tweet_count': 16633},
  {'end': '2021-10-04T05:00:00.000Z',
   'start': '2021-10-04T04:00:00.000Z',
   'tweet_count': 15430},
  {'end': '2021-10-04T06:00:00.000Z',
   'start': '2021-10-04T05:00:00.000Z',
   'tweet_count': 15656},
  {'end': '2021-10-04T07:00:00.000Z',
   'start': '2021-10-04T06:00:00.000Z',
   'tweet_count': 18421},
  {'end': '2021-10-04T08:00:00.000Z',
   'start': '2021-10-04T07:00:00.000Z',
   'tweet_count': 17009},
  {'end': '2021-10-04T09:00:00.000Z',
   'start': '2021-10-04T08:00:00.000Z',
   'tweet_count': 17038},
  {'end': '2021-10-04T10:00:00.000Z',
   'start': '2021-10-04T09:00:00.000Z',
   'tweet_count': 16404},
  {'end': '2021-10-04T11:00:00.000Z',
   'start': '2021-10-04T10:00:00.000Z',
   'tweet_count': 17374},
  {'end': '2021-10-04T12:00:00.000Z',
   'start': '2021-10-04T11:00:00.000Z',
   'tweet_count': 17519},
  {'end': '2021-10-04T13:00:00.000Z',
   'start': '2021-10-04T12:00:00.000Z',
   'tweet_count': 21252},
  {'end': '2021-10-04T14:00:00.000Z',
   'start': '2021-10-04T13:00:00.000Z',
   'tweet_count': 25447},
  {'end': '2021-10-04T15:00:00.000Z',
   'start': '2021-10-04T14:00:00.000Z',
   'tweet_count': 25156},
  {'end': '2021-10-04T16:00:00.000Z',
   'start': '2021-10-04T15:00:00.000Z',
   'tweet_count': 28727},
  {'end': '2021-10-04T17:00:00.000Z',
   'start': '2021-10-04T16:00:00.000Z',
   'tweet_count': 31547},
  {'end': '2021-10-04T18:00:00.000Z',
   'start': '2021-10-04T17:00:00.000Z',
   'tweet_count': 25370},
  {'end': '2021-10-04T19:00:00.000Z',
   'start': '2021-10-04T18:00:00.000Z',
   'tweet_count': 22112},
  {'end': '2021-10-04T20:00:00.000Z',
   'start': '2021-10-04T19:00:00.000Z',
   'tweet_count': 17211},
  {'end': '2021-10-04T21:00:00.000Z',
   'start': '2021-10-04T20:00:00.000Z',
   'tweet_count': 16158},
  {'end': '2021-10-04T22:00:00.000Z',
   'start': '2021-10-04T21:00:00.000Z',
   'tweet_count': 14308},
  {'end': '2021-10-04T23:00:00.000Z',
   'start': '2021-10-04T22:00:00.000Z',
   'tweet_count': 16447},
  {'end': '2021-10-05T00:00:00.000Z',
   'start': '2021-10-04T23:00:00.000Z',
   'tweet_count': 18691},
  {'end': '2021-10-05T01:00:00.000Z',
   'start': '2021-10-05T00:00:00.000Z',
   'tweet_count': 17685},
  {'end': '2021-10-05T02:00:00.000Z',
   'start': '2021-10-05T01:00:00.000Z',
   'tweet_count': 17210},
  {'end': '2021-10-05T03:00:00.000Z',
   'start': '2021-10-05T02:00:00.000Z',
   'tweet_count': 16245},
  {'end': '2021-10-05T04:00:00.000Z',
   'start': '2021-10-05T03:00:00.000Z',
   'tweet_count': 15425},
  {'end': '2021-10-05T05:00:00.000Z',
   'start': '2021-10-05T04:00:00.000Z',
   'tweet_count': 15392},
  {'end': '2021-10-05T06:00:00.000Z',
   'start': '2021-10-05T05:00:00.000Z',
   'tweet_count': 17672},
  {'end': '2021-10-05T07:00:00.000Z',
   'start': '2021-10-05T06:00:00.000Z',
   'tweet_count': 17454},
  {'end': '2021-10-05T08:00:00.000Z',
   'start': '2021-10-05T07:00:00.000Z',
   'tweet_count': 17350},
  {'end': '2021-10-05T09:00:00.000Z',
   'start': '2021-10-05T08:00:00.000Z',
   'tweet_count': 15691},
  {'end': '2021-10-05T10:00:00.000Z',
   'start': '2021-10-05T09:00:00.000Z',
   'tweet_count': 16702},
  {'end': '2021-10-05T11:00:00.000Z',
   'start': '2021-10-05T10:00:00.000Z',
   'tweet_count': 18176},
  {'end': '2021-10-05T12:00:00.000Z',
   'start': '2021-10-05T11:00:00.000Z',
   'tweet_count': 17807},
  {'end': '2021-10-05T13:00:00.000Z',
   'start': '2021-10-05T12:00:00.000Z',
   'tweet_count': 19838},
  {'end': '2021-10-05T14:00:00.000Z',
   'start': '2021-10-05T13:00:00.000Z',
   'tweet_count': 23884},
  {'end': '2021-10-05T15:00:00.000Z',
   'start': '2021-10-05T14:00:00.000Z',
   'tweet_count': 21087},
  {'end': '2021-10-05T16:00:00.000Z',
   'start': '2021-10-05T15:00:00.000Z',
   'tweet_count': 21328},
  {'end': '2021-10-05T17:00:00.000Z',
   'start': '2021-10-05T16:00:00.000Z',
   'tweet_count': 23445},
  {'end': '2021-10-05T18:00:00.000Z',
   'start': '2021-10-05T17:00:00.000Z',
   'tweet_count': 22445},
  {'end': '2021-10-05T19:00:00.000Z',
   'start': '2021-10-05T18:00:00.000Z',
   'tweet_count': 19380},
  {'end': '2021-10-05T20:00:00.000Z',
   'start': '2021-10-05T19:00:00.000Z',
   'tweet_count': 20486},
  {'end': '2021-10-05T21:00:00.000Z',
   'start': '2021-10-05T20:00:00.000Z',
   'tweet_count': 16823},
  {'end': '2021-10-05T22:00:00.000Z',
   'start': '2021-10-05T21:00:00.000Z',
   'tweet_count': 14622},
  {'end': '2021-10-05T23:00:00.000Z',
   'start': '2021-10-05T22:00:00.000Z',
   'tweet_count': 13540},
  {'end': '2021-10-06T00:00:00.000Z',
   'start': '2021-10-05T23:00:00.000Z',
   'tweet_count': 14767},
  {'end': '2021-10-06T01:00:00.000Z',
   'start': '2021-10-06T00:00:00.000Z',
   'tweet_count': 14479},
  {'end': '2021-10-06T02:00:00.000Z',
   'start': '2021-10-06T01:00:00.000Z',
   'tweet_count': 14466},
  {'end': '2021-10-06T03:00:00.000Z',
   'start': '2021-10-06T02:00:00.000Z',
   'tweet_count': 13874},
  {'end': '2021-10-06T04:00:00.000Z',
   'start': '2021-10-06T03:00:00.000Z',
   'tweet_count': 14758},
  {'end': '2021-10-06T05:00:00.000Z',
   'start': '2021-10-06T04:00:00.000Z',
   'tweet_count': 16150},
  {'end': '2021-10-06T06:00:00.000Z',
   'start': '2021-10-06T05:00:00.000Z',
   'tweet_count': 15661},
  {'end': '2021-10-06T07:00:00.000Z',
   'start': '2021-10-06T06:00:00.000Z',
   'tweet_count': 15605},
  {'end': '2021-10-06T08:00:00.000Z',
   'start': '2021-10-06T07:00:00.000Z',
   'tweet_count': 15851},
  {'end': '2021-10-06T09:00:00.000Z',
   'start': '2021-10-06T08:00:00.000Z',
   'tweet_count': 20026},
  {'end': '2021-10-06T10:00:00.000Z',
   'start': '2021-10-06T09:00:00.000Z',
   'tweet_count': 21136},
  {'end': '2021-10-06T11:00:00.000Z',
   'start': '2021-10-06T10:00:00.000Z',
   'tweet_count': 18211},
  {'end': '2021-10-06T12:00:00.000Z',
   'start': '2021-10-06T11:00:00.000Z',
   'tweet_count': 17284},
  {'end': '2021-10-06T13:00:00.000Z',
   'start': '2021-10-06T12:00:00.000Z',
   'tweet_count': 19317},
  {'end': '2021-10-06T14:00:00.000Z',
   'start': '2021-10-06T13:00:00.000Z',
   'tweet_count': 20297},
  {'end': '2021-10-06T15:00:00.000Z',
   'start': '2021-10-06T14:00:00.000Z',
   'tweet_count': 25515},
  {'end': '2021-10-06T16:00:00.000Z',
   'start': '2021-10-06T15:00:00.000Z',
   'tweet_count': 23801},
  {'end': '2021-10-06T17:00:00.000Z',
   'start': '2021-10-06T16:00:00.000Z',
   'tweet_count': 23849},
  {'end': '2021-10-06T18:00:00.000Z',
   'start': '2021-10-06T17:00:00.000Z',
   'tweet_count': 20612},
  {'end': '2021-10-06T19:00:00.000Z',
   'start': '2021-10-06T18:00:00.000Z',
   'tweet_count': 19663},
  {'end': '2021-10-06T20:00:00.000Z',
   'start': '2021-10-06T19:00:00.000Z',
   'tweet_count': 17073},
  {'end': '2021-10-06T21:00:00.000Z',
   'start': '2021-10-06T20:00:00.000Z',
   'tweet_count': 16479},
  {'end': '2021-10-06T22:00:00.000Z',
   'start': '2021-10-06T21:00:00.000Z',
   'tweet_count': 15394},
  {'end': '2021-10-06T23:00:00.000Z',
   'start': '2021-10-06T22:00:00.000Z',
   'tweet_count': 14410},
  {'end': '2021-10-07T00:00:00.000Z',
   'start': '2021-10-06T23:00:00.000Z',
   'tweet_count': 17169},
  {'end': '2021-10-07T01:00:00.000Z',
   'start': '2021-10-07T00:00:00.000Z',
   'tweet_count': 15642},
  {'end': '2021-10-07T02:00:00.000Z',
   'start': '2021-10-07T01:00:00.000Z',
   'tweet_count': 14610},
  {'end': '2021-10-07T03:00:00.000Z',
   'start': '2021-10-07T02:00:00.000Z',
   'tweet_count': 16579},
  {'end': '2021-10-07T04:00:00.000Z',
   'start': '2021-10-07T03:00:00.000Z',
   'tweet_count': 13515},
  {'end': '2021-10-07T05:00:00.000Z',
   'start': '2021-10-07T04:00:00.000Z',
   'tweet_count': 16319},
  {'end': '2021-10-07T06:00:00.000Z',
   'start': '2021-10-07T05:00:00.000Z',
   'tweet_count': 15516},
  {'end': '2021-10-07T07:00:00.000Z',
   'start': '2021-10-07T06:00:00.000Z',
   'tweet_count': 15981},
  {'end': '2021-10-07T08:00:00.000Z',
   'start': '2021-10-07T07:00:00.000Z',
   'tweet_count': 15062},
  {'end': '2021-10-07T09:00:00.000Z',
   'start': '2021-10-07T08:00:00.000Z',
   'tweet_count': 14939},
  {'end': '2021-10-07T10:00:00.000Z',
   'start': '2021-10-07T09:00:00.000Z',
   'tweet_count': 14882},
  {'end': '2021-10-07T11:00:00.000Z',
   'start': '2021-10-07T10:00:00.000Z',
   'tweet_count': 15652},
  {'end': '2021-10-07T12:00:00.000Z',
   'start': '2021-10-07T11:00:00.000Z',
   'tweet_count': 19445},
  {'end': '2021-10-07T13:00:00.000Z',
   'start': '2021-10-07T12:00:00.000Z',
   'tweet_count': 22091},
  {'end': '2021-10-07T14:00:00.000Z',
   'start': '2021-10-07T13:00:00.000Z',
   'tweet_count': 24322},
  {'end': '2021-10-07T15:00:00.000Z',
   'start': '2021-10-07T14:00:00.000Z',
   'tweet_count': 23996},
  {'end': '2021-10-07T16:00:00.000Z',
   'start': '2021-10-07T15:00:00.000Z',
   'tweet_count': 25372},
  {'end': '2021-10-07T17:00:00.000Z',
   'start': '2021-10-07T16:00:00.000Z',
   'tweet_count': 24930},
  {'end': '2021-10-07T18:00:00.000Z',
   'start': '2021-10-07T17:00:00.000Z',
   'tweet_count': 21547},
  {'end': '2021-10-07T19:00:00.000Z',
   'start': '2021-10-07T18:00:00.000Z',
   'tweet_count': 19772},
  {'end': '2021-10-07T20:00:00.000Z',
   'start': '2021-10-07T19:00:00.000Z',
   'tweet_count': 17866},
  {'end': '2021-10-07T21:00:00.000Z',
   'start': '2021-10-07T20:00:00.000Z',
   'tweet_count': 16684},
  {'end': '2021-10-07T22:00:00.000Z',
   'start': '2021-10-07T21:00:00.000Z',
   'tweet_count': 15823},
  {'end': '2021-10-07T23:00:00.000Z',
   'start': '2021-10-07T22:00:00.000Z',
   'tweet_count': 15415},
  {'end': '2021-10-08T00:00:00.000Z',
   'start': '2021-10-07T23:00:00.000Z',
   'tweet_count': 14754},
  {'end': '2021-10-08T01:00:00.000Z',
   'start': '2021-10-08T00:00:00.000Z',
   'tweet_count': 13866},
  {'end': '2021-10-08T02:00:00.000Z',
   'start': '2021-10-08T01:00:00.000Z',
   'tweet_count': 12746},
  {'end': '2021-10-08T03:00:00.000Z',
   'start': '2021-10-08T02:00:00.000Z',
   'tweet_count': 13337},
  {'end': '2021-10-08T04:00:00.000Z',
   'start': '2021-10-08T03:00:00.000Z',
   'tweet_count': 13890},
  {'end': '2021-10-08T05:00:00.000Z',
   'start': '2021-10-08T04:00:00.000Z',
   'tweet_count': 13662},
  {'end': '2021-10-08T06:00:00.000Z',
   'start': '2021-10-08T05:00:00.000Z',
   'tweet_count': 13701},
  {'end': '2021-10-08T07:00:00.000Z',
   'start': '2021-10-08T06:00:00.000Z',
   'tweet_count': 14748},
  {'end': '2021-10-08T08:00:00.000Z',
   'start': '2021-10-08T07:00:00.000Z',
   'tweet_count': 16909},
  {'end': '2021-10-08T09:00:00.000Z',
   'start': '2021-10-08T08:00:00.000Z',
   'tweet_count': 16991},
  {'end': '2021-10-08T10:00:00.000Z',
   'start': '2021-10-08T09:00:00.000Z',
   'tweet_count': 16411},
  {'end': '2021-10-08T11:00:00.000Z',
   'start': '2021-10-08T10:00:00.000Z',
   'tweet_count': 16729},
  {'end': '2021-10-08T12:00:00.000Z',
   'start': '2021-10-08T11:00:00.000Z',
   'tweet_count': 17214},
  {'end': '2021-10-08T13:00:00.000Z',
   'start': '2021-10-08T12:00:00.000Z',
   'tweet_count': 16460},
  {'end': '2021-10-08T14:00:00.000Z',
   'start': '2021-10-08T13:00:00.000Z',
   'tweet_count': 18975},
  {'end': '2021-10-08T15:00:00.000Z',
   'start': '2021-10-08T14:00:00.000Z',
   'tweet_count': 23216},
  {'end': '2021-10-08T16:00:00.000Z',
   'start': '2021-10-08T15:00:00.000Z',
   'tweet_count': 20349},
  {'end': '2021-10-08T17:00:00.000Z',
   'start': '2021-10-08T16:00:00.000Z',
   'tweet_count': 20439},
  {'end': '2021-10-08T18:00:00.000Z',
   'start': '2021-10-08T17:00:00.000Z',
   'tweet_count': 21407},
  {'end': '2021-10-08T19:00:00.000Z',
   'start': '2021-10-08T18:00:00.000Z',
   'tweet_count': 18645},
  {'end': '2021-10-08T20:00:00.000Z',
   'start': '2021-10-08T19:00:00.000Z',
   'tweet_count': 20689},
  {'end': '2021-10-08T21:00:00.000Z',
   'start': '2021-10-08T20:00:00.000Z',
   'tweet_count': 17144},
  {'end': '2021-10-08T22:00:00.000Z',
   'start': '2021-10-08T21:00:00.000Z',
   'tweet_count': 14521},
  {'end': '2021-10-08T23:00:00.000Z',
   'start': '2021-10-08T22:00:00.000Z',
   'tweet_count': 13951},
  {'end': '2021-10-09T00:00:00.000Z',
   'start': '2021-10-08T23:00:00.000Z',
   'tweet_count': 13536},
  {'end': '2021-10-09T01:00:00.000Z',
   'start': '2021-10-09T00:00:00.000Z',
   'tweet_count': 14806},
  {'end': '2021-10-09T02:00:00.000Z',
   'start': '2021-10-09T01:00:00.000Z',
   'tweet_count': 16329},
  {'end': '2021-10-09T03:00:00.000Z',
   'start': '2021-10-09T02:00:00.000Z',
   'tweet_count': 15830},
  {'end': '2021-10-09T04:00:00.000Z',
   'start': '2021-10-09T03:00:00.000Z',
   'tweet_count': 14691},
  {'end': '2021-10-09T05:00:00.000Z',
   'start': '2021-10-09T04:00:00.000Z',
   'tweet_count': 15865},
  {'end': '2021-10-09T06:00:00.000Z',
   'start': '2021-10-09T05:00:00.000Z',
   'tweet_count': 16193},
  {'end': '2021-10-09T07:00:00.000Z',
   'start': '2021-10-09T06:00:00.000Z',
   'tweet_count': 16345},
  {'end': '2021-10-09T08:00:00.000Z',
   'start': '2021-10-09T07:00:00.000Z',
   'tweet_count': 16348},
  {'end': '2021-10-09T09:00:00.000Z',
   'start': '2021-10-09T08:00:00.000Z',
   'tweet_count': 18593},
  {'end': '2021-10-09T10:00:00.000Z',
   'start': '2021-10-09T09:00:00.000Z',
   'tweet_count': 18197},
  {'end': '2021-10-09T11:00:00.000Z',
   'start': '2021-10-09T10:00:00.000Z',
   'tweet_count': 17849},
  {'end': '2021-10-09T12:00:00.000Z',
   'start': '2021-10-09T11:00:00.000Z',
   'tweet_count': 17636},
  {'end': '2021-10-09T13:00:00.000Z',
   'start': '2021-10-09T12:00:00.000Z',
   'tweet_count': 20474},
  {'end': '2021-10-09T14:00:00.000Z',
   'start': '2021-10-09T13:00:00.000Z',
   'tweet_count': 19691},
  {'end': '2021-10-09T15:00:00.000Z',
   'start': '2021-10-09T14:00:00.000Z',
   'tweet_count': 21235},
  {'end': '2021-10-09T16:00:00.000Z',
   'start': '2021-10-09T15:00:00.000Z',
   'tweet_count': 21549},
  {'end': '2021-10-09T17:00:00.000Z',
   'start': '2021-10-09T16:00:00.000Z',
   'tweet_count': 20628},
  {'end': '2021-10-09T18:00:00.000Z',
   'start': '2021-10-09T17:00:00.000Z',
   'tweet_count': 18212},
  {'end': '2021-10-09T19:00:00.000Z',
   'start': '2021-10-09T18:00:00.000Z',
   'tweet_count': 18164},
  {'end': '2021-10-09T20:00:00.000Z',
   'start': '2021-10-09T19:00:00.000Z',
   'tweet_count': 18917},
  {'end': '2021-10-09T21:00:00.000Z',
   'start': '2021-10-09T20:00:00.000Z',
   'tweet_count': 15876},
  {'end': '2021-10-09T22:00:00.000Z',
   'start': '2021-10-09T21:00:00.000Z',
   'tweet_count': 15659},
  {'end': '2021-10-09T23:00:00.000Z',
   'start': '2021-10-09T22:00:00.000Z',
   'tweet_count': 13597},
  {'end': '2021-10-09T23:00:58.000Z',
   'start': '2021-10-09T23:00:00.000Z',
   'tweet_count': 290}],
 'meta': {'total_tweet_count': 2972911}}

In [65]:
eth_tweet_count_df = pd.DataFrame.from_dict(data["data"])

In [66]:
eth_tweet_count_df.head()

                        end                     start  tweet_count
0  2021-10-03T00:00:00.000Z  2021-10-02T23:00:58.000Z        13281
1  2021-10-03T01:00:00.000Z  2021-10-03T00:00:00.000Z        15158
2  2021-10-03T02:00:00.000Z  2021-10-03T01:00:00.000Z        15768
3  2021-10-03T03:00:00.000Z  2021-10-03T02:00:00.000Z        16823
4  2021-10-03T04:00:00.000Z  2021-10-03T03:00:00.000Z        15342

In [67]:
eth_tweet_count_df["end"] = pd.to_datetime(eth_tweet_count_df["end"])

In [68]:
eth_tweet_count_df["start"] = pd.to_datetime(eth_tweet_count_df["start"])

In [69]:
eth_tweet_count_df.head()

                        end                     start  tweet_count
0 2021-10-03 00:00:00+00:00 2021-10-02 23:00:58+00:00        13281
1 2021-10-03 01:00:00+00:00 2021-10-03 00:00:00+00:00        15158
2 2021-10-03 02:00:00+00:00 2021-10-03 01:00:00+00:00        15768
3 2021-10-03 03:00:00+00:00 2021-10-03 02:00:00+00:00        16823
4 2021-10-03 04:00:00+00:00 2021-10-03 03:00:00+00:00        15342

In [70]:
eth_tweet_count_df = eth_tweet_count_df.rename(columns={"end" : "Timestamp"})

In [71]:
eth_tweet_count_df.head()

                  Timestamp                     start  tweet_count
0 2021-10-03 00:00:00+00:00 2021-10-02 23:00:58+00:00        13281
1 2021-10-03 01:00:00+00:00 2021-10-03 00:00:00+00:00        15158
2 2021-10-03 02:00:00+00:00 2021-10-03 01:00:00+00:00        15768
3 2021-10-03 03:00:00+00:00 2021-10-03 02:00:00+00:00        16823
4 2021-10-03 04:00:00+00:00 2021-10-03 03:00:00+00:00        15342

In [72]:
eth_tweet_count_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Timestamp    169 non-null    datetime64[ns, UTC]
 1   start        169 non-null    datetime64[ns, UTC]
 2   tweet_count  169 non-null    int64
dtypes: datetime64[ns, UTC](2), int64(1)
memory usage: 4.1 KB

In [73]:
engine = create_engine("sqlite:///eth_tweet_count_df.db", echo=True)
sqlite_connection = engine.connect()

In [74]:
sqlite_table = "eth_tweet_count_df1"
eth_tweet_count_df.to_sql(sqlite_table, sqlite_connection, if_exists="fail")

2021-10-09 16:04:45,106 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("eth_tweet_count_df1")
2021-10-09 16:04:45,106 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 16:04:45,108 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("eth_tweet_count_df1")
2021-10-09 16:04:45,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 16:04:45,137 INFO sqlalchemy.engine.Engine
CREATE TABLE eth_tweet_count_df1 (
	"index" BIGINT,
	"Timestamp" TIMESTAMP,
	start TIMESTAMP,
	tweet_count BIGINT
)


2021-10-09 16:04:45,138 INFO sqlalchemy.engine.Engine [no key 0.00063s] ()
2021-10-09 16:04:45,144 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 16:04:45,144 INFO sqlalchemy.engine.Engine CREATE INDEX ix_eth_tweet_count_df1_index ON eth_tweet_count_df1 ("index")
2021-10-09 16:04:45,145 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2021-10-09 16:04:45,151 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 16:04:45,154 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-09 16:04:45,157 INFO sqlalchemy.engine.Engine INSERT INTO eth_tweet_count_df1 ("index", "Timestamp", start, tweet_count) VALUES (?, ?, ?, ?)
2021-10-09 16:04:45,158 INFO sqlalchemy.engine.Engine [generated in 0.00296s] ((0, '2021-10-03 00:00:00.000000', '2021-10-02 23:00:58.000000', 13281), (1, '2021-10-03 01:00:00.000000', '2021-10-03 00:00:00.000000', 15158), (2, '2021-10-03 02:00:00.000000', '2021-10-03 01:00:00.000000', 15768), (3, '2021-10-03 03:00:00.000000', '2021-10-03 02:00:00.000000', 16823), (4, '2021-10-03 04:00:00.000000', '2021-10-03 03:00:00.000000', 15342), (5, '2021-10-03 05:00:00.000000', '2021-10-03 04:00:00.000000', 16870), (6, '2021-10-03 06:00:00.000000', '2021-10-03 05:00:00.000000', 16156), (7, '2021-10-03 07:00:00.000000', '2021-10-03 06:00:00.000000', 15647)  ... displaying 10 of 169 total bound parameter sets ...  (167, '2021-10-09 23:00:00.000000', '2021-10-09 22:00:00.000000', 13597), (168, '2021-10-09 23:00:58.000000', '2021-10-09 23:00:00.000000', 290))
2021-10-09 16:04:45,162 INFO sqlalchemy.engine.Engine COMMIT