In [1]:
# Import modules
import pandas as pd
from pathlib import Path
import json
from datetime import date

today = date.today()

In [2]:
# Create path variables for each file
file1_path = Path('./cleaned/ada_tweets_all.csv')
file2_path = Path('./#ada_data_2021-10-08.csv')
file3_path = Path('./#ada_data_2021-10-09.csv')
file4_path = Path('./#ada_data_2021-10-10.csv')
file5_path = Path('./cardano_data_2021-10-08.csv')
file6_path = Path('./cardano_data_2021-10-09.csv')
file7_path = Path('./cardano_data_2021-10-10.csv')

In [3]:
# Read json files into pandas
df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)
df3 = pd.read_csv(file3_path)
df4 = pd.read_csv(file4_path)
df5 = pd.read_csv(file5_path)
df6 = pd.read_csv(file6_path)
df7 = pd.read_csv(file7_path)

df1.head()

C:\Users\dcmar\.conda\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,time,tweet,hashtags
0,1446517541132771330,1446487092276576267,2021-10-08 09:47:11 Pacific Daylight Time,2021-10-08,09:47:11,@GyroCryptoBTC @cardano_beers Dc GaboAP#5789 ...,[]
1,1446517506932285440,1446517506932285440,2021-10-08 09:47:03 Pacific Daylight Time,2021-10-08,09:47:03,An $EGLD backed stablecoin on #cardano is in t...,['cardano']
2,1446517494122893316,1446517494122893316,2021-10-08 09:47:00 Pacific Daylight Time,2021-10-08,09:47:00,#Cardano's Emurgo Taps Into The African Market...,"['cardano', 'ada']"
3,1446517443208237056,1446517443208237056,2021-10-08 09:46:48 Pacific Daylight Time,2021-10-08,09:46:48,An $EGLD backed stablecoin on #cardano is in t...,['cardano']
4,1446517312622899202,1446517312622899202,2021-10-08 09:46:16 Pacific Daylight Time,2021-10-08,09:46:16,What's the best defi on #Cardano at the moment??,['cardano']

In [4]:
# Display number of tweets in each df
display(df1['tweet'].count())
display(df2['tweet'].count())
display(df3['tweet'].count())
display(df4['tweet'].count())
display(df5['tweet'].count())
display(df6['tweet'].count())
display(df7['tweet'].count())

109966

3636

770

4307

27102

6169

17076

In [5]:
# Concat all dfs and show total number of tweets
merged_df = pd.concat([df1,df2,df3,df4,df5,df6,df7])
merged_df['tweet'].count()

169026

In [6]:
# Drop duplicate tweets using id
merged_df = merged_df.drop_duplicates(subset=['id'])

In [7]:
merged_df['tweet'].count()

138046

In [8]:
# Sort data by date
sorted_df = merged_df.sort_values(by=['created_at'], ascending=False)

In [9]:
# Created new data frame with desired columns
filtered_df = sorted_df[['id',
 'conversation_id',
 'created_at',
 'date',
 'time','tweet','hashtags']]
filtered_df.tail()

,id,conversation_id,created_at,date,time,tweet,hashtags
109961,1211748740907843585,1211698736465948672,2019-12-30 12:39:47 Pacific Standard Time,2019-12-30,12:39:47,@QuantaMagazine Cardano! I love it!,[]
109962,1211747232787189761,1211747232787189760,2019-12-30 12:33:48 Pacific Standard Time,2019-12-30,12:33:48,My 2020 #cardano New Years resolutions: 1. ON...,['cardano']
109963,1211746719974797316,1211746719974797312,2019-12-30 12:31:45 Pacific Standard Time,2019-12-30,12:31:45,the results for #HRMS stake pool in epoche 16 ...,"['hrms', 'delegators', 'cardano', 'hermespool'..."
109964,1211745447058006017,1161268076525916160,2019-12-30 12:26:42 Pacific Standard Time,2019-12-30,12:26:42,@alphacrypto8 @LTCFoundation @SatoshiLite @tez...,[]
109965,1211745280040800256,1210987950332362752,2019-12-30 12:26:02 Pacific Standard Time,2019-12-30,12:26:02,"@FDD_01 @servet_erol Correct, our options are ...",[]

In [10]:
# Convert date column to string
filtered_df['date'] = filtered_df['date'].astype(str)
filtered_df.head()

C:\Users\dcmar\.conda\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,conversation_id,created_at,date,time,tweet,hashtags
3882,1447724180049313794,1447724180049313794,2021-10-11 17:41:56 Pacific Daylight Time,2021-10-11,17:41:56,Give Cardano defi a go! #ADA #Cardano,"['ada', 'cardano']"
3883,1447724080719872006,1447724080719872006,2021-10-11 17:41:32 Pacific Daylight Time,2021-10-11,17:41:32,"And here are the winners: @GanesSteven, @Clayf...","['fancyfortunes', 'cardano', 'cnft', 'nft']"
3884,1447723995089022977,1447629666995539968,2021-10-11 17:41:12 Pacific Daylight Time,2021-10-11,17:41:12,@cardano_nft @EudaimoniaNFT @WilzeVeloso @Mosi...,[]
3885,1447723937463427077,1447680004137967619,2021-10-11 17:40:58 Pacific Daylight Time,2021-10-11,17:40:58,@realSidhuJag @VinnyLingham in a year #cardano...,['cardano']
3886,1447723885185675270,1447723885185675270,2021-10-11 17:40:46 Pacific Daylight Time,2021-10-11,17:40:46,üê≥ #Cardano $ADA Whale ‚ù§Ô∏èlaced! üí∞ Transaction O...,"['cardano', 'fintech', 'blockchain', 'crypto']"

In [11]:
# Drop time part from date column values
filtered_df['date'] = filtered_df['date'].str.replace(' 00:00:00', '').astype(str)
filtered_df.head()

C:\Users\dcmar\.conda\envs\dev\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,conversation_id,created_at,date,time,tweet,hashtags
3882,1447724180049313794,1447724180049313794,2021-10-11 17:41:56 Pacific Daylight Time,2021-10-11,17:41:56,Give Cardano defi a go! #ADA #Cardano,"['ada', 'cardano']"
3883,1447724080719872006,1447724080719872006,2021-10-11 17:41:32 Pacific Daylight Time,2021-10-11,17:41:32,"And here are the winners: @GanesSteven, @Clayf...","['fancyfortunes', 'cardano', 'cnft', 'nft']"
3884,1447723995089022977,1447629666995539968,2021-10-11 17:41:12 Pacific Daylight Time,2021-10-11,17:41:12,@cardano_nft @EudaimoniaNFT @WilzeVeloso @Mosi...,[]
3885,1447723937463427077,1447680004137967619,2021-10-11 17:40:58 Pacific Daylight Time,2021-10-11,17:40:58,@realSidhuJag @VinnyLingham in a year #cardano...,['cardano']
3886,1447723885185675270,1447723885185675270,2021-10-11 17:40:46 Pacific Daylight Time,2021-10-11,17:40:46,üê≥ #Cardano $ADA Whale ‚ù§Ô∏èlaced! üí∞ Transaction O...,"['cardano', 'fintech', 'blockchain', 'crypto']"

In [12]:
# List of dates
dates = ["2021-10-10","2021-10-09","2021-10-08","2021-10-07","2021-10-06", "2021-10-05", "2021-10-04", "2021-10-03", "2021-10-02", "2021-10-01"]

In [13]:
def csv_creator(dates):
    for date in dates:
        split_df = filtered_df[filtered_df['date'] == date]
        filename = "ada_tweets_"+ date+".csv"
        print(filename)
        split_df.to_csv(filename, encoding='utf-8', index=False)

In [14]:
csv_creator(dates)

ada_tweets_2021-10-10.csv
ada_tweets_2021-10-09.csv
ada_tweets_2021-10-08.csv
ada_tweets_2021-10-07.csv
ada_tweets_2021-10-06.csv
ada_tweets_2021-10-05.csv
ada_tweets_2021-10-04.csv
ada_tweets_2021-10-03.csv
ada_tweets_2021-10-02.csv
ada_tweets_2021-10-01.csv

In [15]:
filtered_df.to_csv('./ada_tweets_all.csv', encoding='utf-8', index=False)