In [72]:
import json
import pandas as pd
import csv
from pathlib import Path
import sqlalchemy as sql
from sqlalchemy import create_engine

In [73]:
ADA_price_data_df = pd.read_csv(Path("ADA_Data.csv"))

In [74]:
ADA_price_data_df.head()

              Timestamp  Value
0  10/02/2021, 16:00:00  2.250
1  10/02/2021, 17:00:00  2.234
2  10/02/2021, 18:00:00  2.245
3  10/02/2021, 19:00:00  2.251
4  10/02/2021, 20:00:00  2.263

In [75]:
ADA_price_data_df["Timestamp"] = pd.to_datetime(ADA_price_data_df["Timestamp"])

In [76]:
ADA_price_data_df.head()

            Timestamp  Value
0 2021-10-02 16:00:00  2.250
1 2021-10-02 17:00:00  2.234
2 2021-10-02 18:00:00  2.245
3 2021-10-02 19:00:00  2.251
4 2021-10-02 20:00:00  2.263

In [77]:
engine = create_engine("sqlite:///ADA_price_data_df.db", echo=True)
sqlite_connection = engine.connect()

In [78]:
sqlite_table = "ADA_price_data_df1"
ADA_price_data_df.to_sql(sqlite_table, sqlite_connection, if_exists="fail")

2021-10-09 16:16:05,480 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADA_price_data_df1")
2021-10-09 16:16:05,481 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 16:16:05,484 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ADA_price_data_df1")
2021-10-09 16:16:05,485 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 16:16:05,487 INFO sqlalchemy.engine.Engine
CREATE TABLE "ADA_price_data_df1" (
	"index" BIGINT,
	"Timestamp" DATETIME,
	"Value" FLOAT
)


2021-10-09 16:16:05,489 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2021-10-09 16:16:05,494 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 16:16:05,495 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_ADA_price_data_df1_index" ON "ADA_price_data_df1" ("index")
2021-10-09 16:16:05,496 INFO sqlalchemy.engine.Engine [no key 0.00063s] ()
2021-10-09 16:16:05,500 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 16:16:05,503 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-09 16:16:05,505 INFO sqlalchemy.engine.Engine INSERT INTO "ADA_price_data_df1" ("index", "Timestamp", "Value") VALUES (?, ?, ?)
2021-10-09 16:16:05,506 INFO sqlalchemy.engine.Engine [generated in 0.00238s] ((0, '2021-10-02 16:00:00.000000', 2.25), (1, '2021-10-02 17:00:00.000000', 2.234), (2, '2021-10-02 18:00:00.000000', 2.245), (3, '2021-10-02 19:00:00.000000', 2.251), (4, '2021-10-02 20:00:00.000000', 2.263), (5, '2021-10-02 21:00:00.000000', 2.261), (6, '2021-10-02 22:00:00.000000', 2.274), (7, '2021-10-02 23:00:00.000000', 2.281)  ... displaying 10 of 169 total bound parameter sets ...  (167, '2021-10-09 15:00:00.000000', 2.269), (168, '2021-10-09 16:00:00.000000', 2.272))
2021-10-09 16:16:05,509 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 16:16:05,513 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-10-09 16:16:05,513 INFO sqlalchemy.engine.Engine [raw sql] ()