In [75]:
from pathlib import Path
import json
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine
from time import gmtime, strftime
import time

In [76]:
with open(Path("ADA_tweet_count.json")) as f:
    data = json.load(f)

In [77]:
data

{'data': [{'end': '2021-10-03T00:00:00.000Z',
   'start': '2021-10-02T23:10:14.000Z',
   'tweet_count': 14641},
  {'end': '2021-10-03T01:00:00.000Z',
   'start': '2021-10-03T00:00:00.000Z',
   'tweet_count': 21166},
  {'end': '2021-10-03T02:00:00.000Z',
   'start': '2021-10-03T01:00:00.000Z',
   'tweet_count': 26473},
  {'end': '2021-10-03T03:00:00.000Z',
   'start': '2021-10-03T02:00:00.000Z',
   'tweet_count': 31949},
  {'end': '2021-10-03T04:00:00.000Z',
   'start': '2021-10-03T03:00:00.000Z',
   'tweet_count': 35054},
  {'end': '2021-10-03T05:00:00.000Z',
   'start': '2021-10-03T04:00:00.000Z',
   'tweet_count': 36400},
  {'end': '2021-10-03T06:00:00.000Z',
   'start': '2021-10-03T05:00:00.000Z',
   'tweet_count': 38296},
  {'end': '2021-10-03T07:00:00.000Z',
   'start': '2021-10-03T06:00:00.000Z',
   'tweet_count': 36384},
  {'end': '2021-10-03T08:00:00.000Z',
   'start': '2021-10-03T07:00:00.000Z',
   'tweet_count': 35887},
  {'end': '2021-10-03T09:00:00.000Z',
   'start': '2021-10-03T08:00:00.000Z',
   'tweet_count': 39443},
  {'end': '2021-10-03T10:00:00.000Z',
   'start': '2021-10-03T09:00:00.000Z',
   'tweet_count': 39074},
  {'end': '2021-10-03T11:00:00.000Z',
   'start': '2021-10-03T10:00:00.000Z',
   'tweet_count': 43864},
  {'end': '2021-10-03T12:00:00.000Z',
   'start': '2021-10-03T11:00:00.000Z',
   'tweet_count': 47479},
  {'end': '2021-10-03T13:00:00.000Z',
   'start': '2021-10-03T12:00:00.000Z',
   'tweet_count': 54680},
  {'end': '2021-10-03T14:00:00.000Z',
   'start': '2021-10-03T13:00:00.000Z',
   'tweet_count': 58638},
  {'end': '2021-10-03T15:00:00.000Z',
   'start': '2021-10-03T14:00:00.000Z',
   'tweet_count': 54894},
  {'end': '2021-10-03T16:00:00.000Z',
   'start': '2021-10-03T15:00:00.000Z',
   'tweet_count': 50481},
  {'end': '2021-10-03T17:00:00.000Z',
   'start': '2021-10-03T16:00:00.000Z',
   'tweet_count': 38695},
  {'end': '2021-10-03T18:00:00.000Z',
   'start': '2021-10-03T17:00:00.000Z',
   'tweet_count': 24986},
  {'end': '2021-10-03T19:00:00.000Z',
   'start': '2021-10-03T18:00:00.000Z',
   'tweet_count': 16960},
  {'end': '2021-10-03T20:00:00.000Z',
   'start': '2021-10-03T19:00:00.000Z',
   'tweet_count': 12456},
  {'end': '2021-10-03T21:00:00.000Z',
   'start': '2021-10-03T20:00:00.000Z',
   'tweet_count': 11301},
  {'end': '2021-10-03T22:00:00.000Z',
   'start': '2021-10-03T21:00:00.000Z',
   'tweet_count': 12380},
  {'end': '2021-10-03T23:00:00.000Z',
   'start': '2021-10-03T22:00:00.000Z',
   'tweet_count': 14837},
  {'end': '2021-10-04T00:00:00.000Z',
   'start': '2021-10-03T23:00:00.000Z',
   'tweet_count': 19626},
  {'end': '2021-10-04T01:00:00.000Z',
   'start': '2021-10-04T00:00:00.000Z',
   'tweet_count': 25556},
  {'end': '2021-10-04T02:00:00.000Z',
   'start': '2021-10-04T01:00:00.000Z',
   'tweet_count': 31104},
  {'end': '2021-10-04T03:00:00.000Z',
   'start': '2021-10-04T02:00:00.000Z',
   'tweet_count': 34747},
  {'end': '2021-10-04T04:00:00.000Z',
   'start': '2021-10-04T03:00:00.000Z',
   'tweet_count': 39306},
  {'end': '2021-10-04T05:00:00.000Z',
   'start': '2021-10-04T04:00:00.000Z',
   'tweet_count': 40112},
  {'end': '2021-10-04T06:00:00.000Z',
   'start': '2021-10-04T05:00:00.000Z',
   'tweet_count': 40033},
  {'end': '2021-10-04T07:00:00.000Z',
   'start': '2021-10-04T06:00:00.000Z',
   'tweet_count': 38736},
  {'end': '2021-10-04T08:00:00.000Z',
   'start': '2021-10-04T07:00:00.000Z',
   'tweet_count': 36749},
  {'end': '2021-10-04T09:00:00.000Z',
   'start': '2021-10-04T08:00:00.000Z',
   'tweet_count': 40182},
  {'end': '2021-10-04T10:00:00.000Z',
   'start': '2021-10-04T09:00:00.000Z',
   'tweet_count': 40408},
  {'end': '2021-10-04T11:00:00.000Z',
   'start': '2021-10-04T10:00:00.000Z',
   'tweet_count': 42495},
  {'end': '2021-10-04T12:00:00.000Z',
   'start': '2021-10-04T11:00:00.000Z',
   'tweet_count': 48930},
  {'end': '2021-10-04T13:00:00.000Z',
   'start': '2021-10-04T12:00:00.000Z',
   'tweet_count': 56978},
  {'end': '2021-10-04T14:00:00.000Z',
   'start': '2021-10-04T13:00:00.000Z',
   'tweet_count': 56894},
  {'end': '2021-10-04T15:00:00.000Z',
   'start': '2021-10-04T14:00:00.000Z',
   'tweet_count': 53967},
  {'end': '2021-10-04T16:00:00.000Z',
   'start': '2021-10-04T15:00:00.000Z',
   'tweet_count': 56124},
  {'end': '2021-10-04T17:00:00.000Z',
   'start': '2021-10-04T16:00:00.000Z',
   'tweet_count': 68569},
  {'end': '2021-10-04T18:00:00.000Z',
   'start': '2021-10-04T17:00:00.000Z',
   'tweet_count': 42038},
  {'end': '2021-10-04T19:00:00.000Z',
   'start': '2021-10-04T18:00:00.000Z',
   'tweet_count': 25421},
  {'end': '2021-10-04T20:00:00.000Z',
   'start': '2021-10-04T19:00:00.000Z',
   'tweet_count': 16304},
  {'end': '2021-10-04T21:00:00.000Z',
   'start': '2021-10-04T20:00:00.000Z',
   'tweet_count': 12772},
  {'end': '2021-10-04T22:00:00.000Z',
   'start': '2021-10-04T21:00:00.000Z',
   'tweet_count': 15034},
  {'end': '2021-10-04T23:00:00.000Z',
   'start': '2021-10-04T22:00:00.000Z',
   'tweet_count': 23345},
  {'end': '2021-10-05T00:00:00.000Z',
   'start': '2021-10-04T23:00:00.000Z',
   'tweet_count': 24709},
  {'end': '2021-10-05T01:00:00.000Z',
   'start': '2021-10-05T00:00:00.000Z',
   'tweet_count': 28180},
  {'end': '2021-10-05T02:00:00.000Z',
   'start': '2021-10-05T01:00:00.000Z',
   'tweet_count': 35589},
  {'end': '2021-10-05T03:00:00.000Z',
   'start': '2021-10-05T02:00:00.000Z',
   'tweet_count': 36949},
  {'end': '2021-10-05T04:00:00.000Z',
   'start': '2021-10-05T03:00:00.000Z',
   'tweet_count': 39428},
  {'end': '2021-10-05T05:00:00.000Z',
   'start': '2021-10-05T04:00:00.000Z',
   'tweet_count': 41693},
  {'end': '2021-10-05T06:00:00.000Z',
   'start': '2021-10-05T05:00:00.000Z',
   'tweet_count': 43250},
  {'end': '2021-10-05T07:00:00.000Z',
   'start': '2021-10-05T06:00:00.000Z',
   'tweet_count': 42264},
  {'end': '2021-10-05T08:00:00.000Z',
   'start': '2021-10-05T07:00:00.000Z',
   'tweet_count': 43477},
  {'end': '2021-10-05T09:00:00.000Z',
   'start': '2021-10-05T08:00:00.000Z',
   'tweet_count': 42938},
  {'end': '2021-10-05T10:00:00.000Z',
   'start': '2021-10-05T09:00:00.000Z',
   'tweet_count': 42363},
  {'end': '2021-10-05T11:00:00.000Z',
   'start': '2021-10-05T10:00:00.000Z',
   'tweet_count': 46846},
  {'end': '2021-10-05T12:00:00.000Z',
   'start': '2021-10-05T11:00:00.000Z',
   'tweet_count': 52906},
  {'end': '2021-10-05T13:00:00.000Z',
   'start': '2021-10-05T12:00:00.000Z',
   'tweet_count': 61449},
  {'end': '2021-10-05T14:00:00.000Z',
   'start': '2021-10-05T13:00:00.000Z',
   'tweet_count': 58791},
  {'end': '2021-10-05T15:00:00.000Z',
   'start': '2021-10-05T14:00:00.000Z',
   'tweet_count': 53918},
  {'end': '2021-10-05T16:00:00.000Z',
   'start': '2021-10-05T15:00:00.000Z',
   'tweet_count': 49787},
  {'end': '2021-10-05T17:00:00.000Z',
   'start': '2021-10-05T16:00:00.000Z',
   'tweet_count': 42774},
  {'end': '2021-10-05T18:00:00.000Z',
   'start': '2021-10-05T17:00:00.000Z',
   'tweet_count': 32568},
  {'end': '2021-10-05T19:00:00.000Z',
   'start': '2021-10-05T18:00:00.000Z',
   'tweet_count': 29085},
  {'end': '2021-10-05T20:00:00.000Z',
   'start': '2021-10-05T19:00:00.000Z',
   'tweet_count': 22118},
  {'end': '2021-10-05T21:00:00.000Z',
   'start': '2021-10-05T20:00:00.000Z',
   'tweet_count': 17149},
  {'end': '2021-10-05T22:00:00.000Z',
   'start': '2021-10-05T21:00:00.000Z',
   'tweet_count': 15657},
  {'end': '2021-10-05T23:00:00.000Z',
   'start': '2021-10-05T22:00:00.000Z',
   'tweet_count': 17315},
  {'end': '2021-10-06T00:00:00.000Z',
   'start': '2021-10-05T23:00:00.000Z',
   'tweet_count': 22168},
  {'end': '2021-10-06T01:00:00.000Z',
   'start': '2021-10-06T00:00:00.000Z',
   'tweet_count': 29166},
  {'end': '2021-10-06T02:00:00.000Z',
   'start': '2021-10-06T01:00:00.000Z',
   'tweet_count': 33842},
  {'end': '2021-10-06T03:00:00.000Z',
   'start': '2021-10-06T02:00:00.000Z',
   'tweet_count': 37318},
  {'end': '2021-10-06T04:00:00.000Z',
   'start': '2021-10-06T03:00:00.000Z',
   'tweet_count': 40689},
  {'end': '2021-10-06T05:00:00.000Z',
   'start': '2021-10-06T04:00:00.000Z',
   'tweet_count': 41418},
  {'end': '2021-10-06T06:00:00.000Z',
   'start': '2021-10-06T05:00:00.000Z',
   'tweet_count': 40726},
  {'end': '2021-10-06T07:00:00.000Z',
   'start': '2021-10-06T06:00:00.000Z',
   'tweet_count': 40038},
  {'end': '2021-10-06T08:00:00.000Z',
   'start': '2021-10-06T07:00:00.000Z',
   'tweet_count': 38145},
  {'end': '2021-10-06T09:00:00.000Z',
   'start': '2021-10-06T08:00:00.000Z',
   'tweet_count': 38405},
  {'end': '2021-10-06T10:00:00.000Z',
   'start': '2021-10-06T09:00:00.000Z',
   'tweet_count': 39824},
  {'end': '2021-10-06T11:00:00.000Z',
   'start': '2021-10-06T10:00:00.000Z',
   'tweet_count': 42710},
  {'end': '2021-10-06T12:00:00.000Z',
   'start': '2021-10-06T11:00:00.000Z',
   'tweet_count': 47989},
  {'end': '2021-10-06T13:00:00.000Z',
   'start': '2021-10-06T12:00:00.000Z',
   'tweet_count': 56149},
  {'end': '2021-10-06T14:00:00.000Z',
   'start': '2021-10-06T13:00:00.000Z',
   'tweet_count': 55223},
  {'end': '2021-10-06T15:00:00.000Z',
   'start': '2021-10-06T14:00:00.000Z',
   'tweet_count': 52647},
  {'end': '2021-10-06T16:00:00.000Z',
   'start': '2021-10-06T15:00:00.000Z',
   'tweet_count': 46805},
  {'end': '2021-10-06T17:00:00.000Z',
   'start': '2021-10-06T16:00:00.000Z',
   'tweet_count': 37483},
  {'end': '2021-10-06T18:00:00.000Z',
   'start': '2021-10-06T17:00:00.000Z',
   'tweet_count': 27033},
  {'end': '2021-10-06T19:00:00.000Z',
   'start': '2021-10-06T18:00:00.000Z',
   'tweet_count': 16922},
  {'end': '2021-10-06T20:00:00.000Z',
   'start': '2021-10-06T19:00:00.000Z',
   'tweet_count': 12306},
  {'end': '2021-10-06T21:00:00.000Z',
   'start': '2021-10-06T20:00:00.000Z',
   'tweet_count': 9878},
  {'end': '2021-10-06T22:00:00.000Z',
   'start': '2021-10-06T21:00:00.000Z',
   'tweet_count': 10577},
  {'end': '2021-10-06T23:00:00.000Z',
   'start': '2021-10-06T22:00:00.000Z',
   'tweet_count': 14876},
  {'end': '2021-10-07T00:00:00.000Z',
   'start': '2021-10-06T23:00:00.000Z',
   'tweet_count': 21052},
  {'end': '2021-10-07T01:00:00.000Z',
   'start': '2021-10-07T00:00:00.000Z',
   'tweet_count': 27278},
  {'end': '2021-10-07T02:00:00.000Z',
   'start': '2021-10-07T01:00:00.000Z',
   'tweet_count': 34402},
  {'end': '2021-10-07T03:00:00.000Z',
   'start': '2021-10-07T02:00:00.000Z',
   'tweet_count': 38829},
  {'end': '2021-10-07T04:00:00.000Z',
   'start': '2021-10-07T03:00:00.000Z',
   'tweet_count': 40879},
  {'end': '2021-10-07T05:00:00.000Z',
   'start': '2021-10-07T04:00:00.000Z',
   'tweet_count': 40432},
  {'end': '2021-10-07T06:00:00.000Z',
   'start': '2021-10-07T05:00:00.000Z',
   'tweet_count': 42824},
  {'end': '2021-10-07T07:00:00.000Z',
   'start': '2021-10-07T06:00:00.000Z',
   'tweet_count': 42781},
  {'end': '2021-10-07T08:00:00.000Z',
   'start': '2021-10-07T07:00:00.000Z',
   'tweet_count': 39809},
  {'end': '2021-10-07T09:00:00.000Z',
   'start': '2021-10-07T08:00:00.000Z',
   'tweet_count': 40663},
  {'end': '2021-10-07T10:00:00.000Z',
   'start': '2021-10-07T09:00:00.000Z',
   'tweet_count': 43023},
  {'end': '2021-10-07T11:00:00.000Z',
   'start': '2021-10-07T10:00:00.000Z',
   'tweet_count': 46105},
  {'end': '2021-10-07T12:00:00.000Z',
   'start': '2021-10-07T11:00:00.000Z',
   'tweet_count': 56020},
  {'end': '2021-10-07T13:00:00.000Z',
   'start': '2021-10-07T12:00:00.000Z',
   'tweet_count': 61808},
  {'end': '2021-10-07T14:00:00.000Z',
   'start': '2021-10-07T13:00:00.000Z',
   'tweet_count': 60032},
  {'end': '2021-10-07T15:00:00.000Z',
   'start': '2021-10-07T14:00:00.000Z',
   'tweet_count': 54666},
  {'end': '2021-10-07T16:00:00.000Z',
   'start': '2021-10-07T15:00:00.000Z',
   'tweet_count': 54538},
  {'end': '2021-10-07T17:00:00.000Z',
   'start': '2021-10-07T16:00:00.000Z',
   'tweet_count': 42742},
  {'end': '2021-10-07T18:00:00.000Z',
   'start': '2021-10-07T17:00:00.000Z',
   'tweet_count': 30294},
  {'end': '2021-10-07T19:00:00.000Z',
   'start': '2021-10-07T18:00:00.000Z',
   'tweet_count': 19740},
  {'end': '2021-10-07T20:00:00.000Z',
   'start': '2021-10-07T19:00:00.000Z',
   'tweet_count': 14038},
  {'end': '2021-10-07T21:00:00.000Z',
   'start': '2021-10-07T20:00:00.000Z',
   'tweet_count': 10965},
  {'end': '2021-10-07T22:00:00.000Z',
   'start': '2021-10-07T21:00:00.000Z',
   'tweet_count': 11427},
  {'end': '2021-10-07T23:00:00.000Z',
   'start': '2021-10-07T22:00:00.000Z',
   'tweet_count': 16873},
  {'end': '2021-10-08T00:00:00.000Z',
   'start': '2021-10-07T23:00:00.000Z',
   'tweet_count': 22808},
  {'end': '2021-10-08T01:00:00.000Z',
   'start': '2021-10-08T00:00:00.000Z',
   'tweet_count': 28214},
  {'end': '2021-10-08T02:00:00.000Z',
   'start': '2021-10-08T01:00:00.000Z',
   'tweet_count': 34117},
  {'end': '2021-10-08T03:00:00.000Z',
   'start': '2021-10-08T02:00:00.000Z',
   'tweet_count': 39651},
  {'end': '2021-10-08T04:00:00.000Z',
   'start': '2021-10-08T03:00:00.000Z',
   'tweet_count': 43792},
  {'end': '2021-10-08T05:00:00.000Z',
   'start': '2021-10-08T04:00:00.000Z',
   'tweet_count': 42807},
  {'end': '2021-10-08T06:00:00.000Z',
   'start': '2021-10-08T05:00:00.000Z',
   'tweet_count': 41933},
  {'end': '2021-10-08T07:00:00.000Z',
   'start': '2021-10-08T06:00:00.000Z',
   'tweet_count': 44492},
  {'end': '2021-10-08T08:00:00.000Z',
   'start': '2021-10-08T07:00:00.000Z',
   'tweet_count': 39953},
  {'end': '2021-10-08T09:00:00.000Z',
   'start': '2021-10-08T08:00:00.000Z',
   'tweet_count': 40698},
  {'end': '2021-10-08T10:00:00.000Z',
   'start': '2021-10-08T09:00:00.000Z',
   'tweet_count': 41734},
  {'end': '2021-10-08T11:00:00.000Z',
   'start': '2021-10-08T10:00:00.000Z',
   'tweet_count': 45568},
  {'end': '2021-10-08T12:00:00.000Z',
   'start': '2021-10-08T11:00:00.000Z',
   'tweet_count': 47948},
  {'end': '2021-10-08T13:00:00.000Z',
   'start': '2021-10-08T12:00:00.000Z',
   'tweet_count': 58950},
  {'end': '2021-10-08T14:00:00.000Z',
   'start': '2021-10-08T13:00:00.000Z',
   'tweet_count': 59495},
  {'end': '2021-10-08T15:00:00.000Z',
   'start': '2021-10-08T14:00:00.000Z',
   'tweet_count': 56354},
  {'end': '2021-10-08T16:00:00.000Z',
   'start': '2021-10-08T15:00:00.000Z',
   'tweet_count': 51359},
  {'end': '2021-10-08T17:00:00.000Z',
   'start': '2021-10-08T16:00:00.000Z',
   'tweet_count': 40811},
  {'end': '2021-10-08T18:00:00.000Z',
   'start': '2021-10-08T17:00:00.000Z',
   'tweet_count': 29999},
  {'end': '2021-10-08T19:00:00.000Z',
   'start': '2021-10-08T18:00:00.000Z',
   'tweet_count': 18921},
  {'end': '2021-10-08T20:00:00.000Z',
   'start': '2021-10-08T19:00:00.000Z',
   'tweet_count': 13917},
  {'end': '2021-10-08T21:00:00.000Z',
   'start': '2021-10-08T20:00:00.000Z',
   'tweet_count': 11030},
  {'end': '2021-10-08T22:00:00.000Z',
   'start': '2021-10-08T21:00:00.000Z',
   'tweet_count': 9693},
  {'end': '2021-10-08T23:00:00.000Z',
   'start': '2021-10-08T22:00:00.000Z',
   'tweet_count': 14019},
  {'end': '2021-10-09T00:00:00.000Z',
   'start': '2021-10-08T23:00:00.000Z',
   'tweet_count': 18911},
  {'end': '2021-10-09T01:00:00.000Z',
   'start': '2021-10-09T00:00:00.000Z',
   'tweet_count': 23569},
  {'end': '2021-10-09T02:00:00.000Z',
   'start': '2021-10-09T01:00:00.000Z',
   'tweet_count': 30592},
  {'end': '2021-10-09T03:00:00.000Z',
   'start': '2021-10-09T02:00:00.000Z',
   'tweet_count': 36771},
  {'end': '2021-10-09T04:00:00.000Z',
   'start': '2021-10-09T03:00:00.000Z',
   'tweet_count': 38816},
  {'end': '2021-10-09T05:00:00.000Z',
   'start': '2021-10-09T04:00:00.000Z',
   'tweet_count': 39225},
  {'end': '2021-10-09T06:00:00.000Z',
   'start': '2021-10-09T05:00:00.000Z',
   'tweet_count': 38596},
  {'end': '2021-10-09T07:00:00.000Z',
   'start': '2021-10-09T06:00:00.000Z',
   'tweet_count': 42452},
  {'end': '2021-10-09T08:00:00.000Z',
   'start': '2021-10-09T07:00:00.000Z',
   'tweet_count': 37977},
  {'end': '2021-10-09T09:00:00.000Z',
   'start': '2021-10-09T08:00:00.000Z',
   'tweet_count': 37439},
  {'end': '2021-10-09T10:00:00.000Z',
   'start': '2021-10-09T09:00:00.000Z',
   'tweet_count': 38943},
  {'end': '2021-10-09T11:00:00.000Z',
   'start': '2021-10-09T10:00:00.000Z',
   'tweet_count': 43751},
  {'end': '2021-10-09T12:00:00.000Z',
   'start': '2021-10-09T11:00:00.000Z',
   'tweet_count': 48989},
  {'end': '2021-10-09T13:00:00.000Z',
   'start': '2021-10-09T12:00:00.000Z',
   'tweet_count': 52052},
  {'end': '2021-10-09T14:00:00.000Z',
   'start': '2021-10-09T13:00:00.000Z',
   'tweet_count': 54101},
  {'end': '2021-10-09T15:00:00.000Z',
   'start': '2021-10-09T14:00:00.000Z',
   'tweet_count': 53951},
  {'end': '2021-10-09T16:00:00.000Z',
   'start': '2021-10-09T15:00:00.000Z',
   'tweet_count': 50889},
  {'end': '2021-10-09T17:00:00.000Z',
   'start': '2021-10-09T16:00:00.000Z',
   'tweet_count': 39688},
  {'end': '2021-10-09T18:00:00.000Z',
   'start': '2021-10-09T17:00:00.000Z',
   'tweet_count': 28965},
  {'end': '2021-10-09T19:00:00.000Z',
   'start': '2021-10-09T18:00:00.000Z',
   'tweet_count': 20337},
  {'end': '2021-10-09T20:00:00.000Z',
   'start': '2021-10-09T19:00:00.000Z',
   'tweet_count': 14004},
  {'end': '2021-10-09T21:00:00.000Z',
   'start': '2021-10-09T20:00:00.000Z',
   'tweet_count': 9598},
  {'end': '2021-10-09T22:00:00.000Z',
   'start': '2021-10-09T21:00:00.000Z',
   'tweet_count': 9302},
  {'end': '2021-10-09T23:00:00.000Z',
   'start': '2021-10-09T22:00:00.000Z',
   'tweet_count': 12798},
  {'end': '2021-10-09T23:10:14.000Z',
   'start': '2021-10-09T23:00:00.000Z',
   'tweet_count': 2706}],
 'meta': {'total_tweet_count': 6049293}}

In [78]:
ada_tweet_count_df = pd.DataFrame.from_dict(data["data"])

In [79]:
ada_tweet_count_df.head()

                        end                     start  tweet_count
0  2021-10-03T00:00:00.000Z  2021-10-02T23:10:14.000Z        14641
1  2021-10-03T01:00:00.000Z  2021-10-03T00:00:00.000Z        21166
2  2021-10-03T02:00:00.000Z  2021-10-03T01:00:00.000Z        26473
3  2021-10-03T03:00:00.000Z  2021-10-03T02:00:00.000Z        31949
4  2021-10-03T04:00:00.000Z  2021-10-03T03:00:00.000Z        35054

In [80]:
ada_tweet_count_df["end"] = pd.to_datetime(ada_tweet_count_df["end"])

In [81]:
ada_tweet_count_df["start"] = pd.to_datetime(ada_tweet_count_df["start"])

In [82]:
ada_tweet_count_df.head()

                        end                     start  tweet_count
0 2021-10-03 00:00:00+00:00 2021-10-02 23:10:14+00:00        14641
1 2021-10-03 01:00:00+00:00 2021-10-03 00:00:00+00:00        21166
2 2021-10-03 02:00:00+00:00 2021-10-03 01:00:00+00:00        26473
3 2021-10-03 03:00:00+00:00 2021-10-03 02:00:00+00:00        31949
4 2021-10-03 04:00:00+00:00 2021-10-03 03:00:00+00:00        35054

In [83]:
ada_tweet_count_df = ada_tweet_count_df.rename(columns={"end" : "Timestamp"})

In [84]:
ada_tweet_count_df.head()

                  Timestamp                     start  tweet_count
0 2021-10-03 00:00:00+00:00 2021-10-02 23:10:14+00:00        14641
1 2021-10-03 01:00:00+00:00 2021-10-03 00:00:00+00:00        21166
2 2021-10-03 02:00:00+00:00 2021-10-03 01:00:00+00:00        26473
3 2021-10-03 03:00:00+00:00 2021-10-03 02:00:00+00:00        31949
4 2021-10-03 04:00:00+00:00 2021-10-03 03:00:00+00:00        35054

In [85]:
ada_tweet_count_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Timestamp    169 non-null    datetime64[ns, UTC]
 1   start        169 non-null    datetime64[ns, UTC]
 2   tweet_count  169 non-null    int64
dtypes: datetime64[ns, UTC](2), int64(1)
memory usage: 4.1 KB

In [86]:
engine = create_engine("sqlite:///ada_tweet_count_df.db", echo=True)
sqlite_connection = engine.connect()

In [87]:
sqlite_table = "ada_tweet_count_df1"
ada_tweet_count_df.to_sql(sqlite_table, sqlite_connection, if_exists="fail")

2021-10-09 16:14:45,805 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ada_tweet_count_df1")
2021-10-09 16:14:45,807 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 16:14:45,812 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ada_tweet_count_df1")
2021-10-09 16:14:45,814 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 16:14:45,819 INFO sqlalchemy.engine.Engine
CREATE TABLE ada_tweet_count_df1 (
	"index" BIGINT,
	"Timestamp" TIMESTAMP,
	start TIMESTAMP,
	tweet_count BIGINT
)


2021-10-09 16:14:45,820 INFO sqlalchemy.engine.Engine [no key 0.00114s] ()
2021-10-09 16:14:45,826 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 16:14:45,828 INFO sqlalchemy.engine.Engine CREATE INDEX ix_ada_tweet_count_df1_index ON ada_tweet_count_df1 ("index")
2021-10-09 16:14:45,828 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2021-10-09 16:14:45,834 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 16:14:45,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-09 16:14:45,840 INFO sqlalchemy.engine.Engine INSERT INTO ada_tweet_count_df1 ("index", "Timestamp", start, tweet_count) VALUES (?, ?, ?, ?)
2021-10-09 16:14:45,841 INFO sqlalchemy.engine.Engine [generated in 0.00263s] ((0, '2021-10-03 00:00:00.000000', '2021-10-02 23:10:14.000000', 14641), (1, '2021-10-03 01:00:00.000000', '2021-10-03 00:00:00.000000', 21166), (2, '2021-10-03 02:00:00.000000', '2021-10-03 01:00:00.000000', 26473), (3, '2021-10-03 03:00:00.000000', '2021-10-03 02:00:00.000000', 31949), (4, '2021-10-03 04:00:00.000000', '2021-10-03 03:00:00.000000', 35054), (5, '2021-10-03 05:00:00.000000', '2021-10-03 04:00:00.000000', 36400), (6, '2021-10-03 06:00:00.000000', '2021-10-03 05:00:00.000000', 38296), (7, '2021-10-03 07:00:00.000000', '2021-10-03 06:00:00.000000', 36384)  ... displaying 10 of 169 total bound parameter sets ...  (167, '2021-10-09 23:00:00.000000', '2021-10-09 22:00:00.000000', 12798), (168, '2021-10-09 23:10:14.000000', '2021-10-09 23:00:00.000000', 2706))
2021-10-09 16:14:45,844 INFO sqlalchemy.engine.Engine COMMIT