In [40]:
import json
import pandas as pd
import csv
from pathlib import Path
import sqlalchemy as sql
from sqlalchemy import create_engine

In [49]:
XRP_price_data_df = pd.read_csv(Path("XRP_Data.csv"))

In [53]:
XRP_price_data_df.head()

              Timestamp  Value
0  10/02/2021, 15:00:00  1.055
1  10/02/2021, 16:00:00  1.037
2  10/02/2021, 17:00:00  1.030
3  10/02/2021, 18:00:00  1.037
4  10/02/2021, 19:00:00  1.042

In [54]:
XRP_price_data_df["Timestamp"] = pd.to_datetime(XRP_price_data_df["Timestamp"])

In [55]:
XRP_price_data_df.head()

            Timestamp  Value
0 2021-10-02 15:00:00  1.055
1 2021-10-02 16:00:00  1.037
2 2021-10-02 17:00:00  1.030
3 2021-10-02 18:00:00  1.037
4 2021-10-02 19:00:00  1.042

In [56]:
engine = create_engine("sqlite:///XRP_price_data_df.db", echo=True)
sqlite_connection = engine.connect()

In [57]:
sqlite_table = "XRP_price_data_df3"
XRP_price_data_df.to_sql(sqlite_table, sqlite_connection, if_exists="fail")

2021-10-09 15:45:27,086 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("XRP_price_data_df3")
2021-10-09 15:45:27,087 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 15:45:27,089 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("XRP_price_data_df3")
2021-10-09 15:45:27,089 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-09 15:45:27,092 INFO sqlalchemy.engine.Engine
CREATE TABLE "XRP_price_data_df3" (
	"index" BIGINT,
	"Timestamp" DATETIME,
	"Value" FLOAT
)


2021-10-09 15:45:27,093 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2021-10-09 15:45:27,098 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 15:45:27,099 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_XRP_price_data_df3_index" ON "XRP_price_data_df3" ("index")
2021-10-09 15:45:27,100 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2021-10-09 15:45:27,105 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 15:45:27,107 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-09 15:45:27,109 INFO sqlalchemy.engine.Engine INSERT INTO "XRP_price_data_df3" ("index", "Timestamp", "Value") VALUES (?, ?, ?)
2021-10-09 15:45:27,111 INFO sqlalchemy.engine.Engine [generated in 0.00284s] ((0, '2021-10-02 15:00:00.000000', 1.055), (1, '2021-10-02 16:00:00.000000', 1.037), (2, '2021-10-02 17:00:00.000000', 1.03), (3, '2021-10-02 18:00:00.000000', 1.037), (4, '2021-10-02 19:00:00.000000', 1.042), (5, '2021-10-02 20:00:00.000000', 1.043), (6, '2021-10-02 21:00:00.000000', 1.044), (7, '2021-10-02 22:00:00.000000', 1.05)  ... displaying 10 of 169 total bound parameter sets ...  (167, '2021-10-09 14:00:00.000000', 1.171), (168, '2021-10-09 15:00:00.000000', 1.166))
2021-10-09 15:45:27,113 INFO sqlalchemy.engine.Engine COMMIT
2021-10-09 15:45:27,118 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-10-09 15:45:27,119 INFO sqlalchemy.engine.Engine [raw sql] ()